@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<div class="card miCardCrear">
    <div class="card-header ">
        <div class="row">
            <div class="col-sm-6">
                <h2 class="text-black-50">Contactanos</h2>
            </div>
            
        </div>
    </div>
    <div class="card-body miCard">
        

        <div class="container">
          <div class="row">
            <div class="col-sm-4">
              <h3 class="textHeader">Direccion:</h3>
              <p class="miSubcolumnstext">080 Schoen Pines Apt. 498 - Clarksville, PA / 22299</p>
            </div>
            <div class="col-sm-4">
              <h3 class="textHeader"># Telefono:</h3>
              <p class="miSubcolumnstext">0180000300300</p>
            </div>
            <div class="col-sm-4">
              <h3 class="textHeader">Contacto Directo</h3>
              <p class="miSubcolumnstext">Antonio Ramirez</p>
            </div>
          </div>
        </div>
       
    </div>
</div>

